:root {
    /* primary colors */
    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);
    /* neutral colors */
    --Dark-gray: hsl(0, 0%, 59%);
    /* Main-font */
    --Kumbh-Sans: "Kumbh Sans", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--Kumbh-Sans);
    
}

main{
    width: 100vw;
    height: 100vh;
    background-color: var(--Dark-cyan);
    background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-size: 600px, 600px;
    background-position: -400px -200px, 150px 450px;
    /* (top left) and (bottom right) */
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-card{
    background-color: white;
    width: 90%;
    min-height: fit-content;
    margin-inline: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: rgb(3 5 10 / 44%) 0px 0px 140px -30px;
}

.profile-bg{
    background-color: var(--Dark-cyan);
    background-image: url(./images/bg-pattern-card.svg);
    min-width: 100%;
    height: 140px;
}

.profile-picture{
    background-color: white;
    width: 110px;
    height: 110px;
    position: relative;
    top: -55px;
    right: auto;
    border-radius: 50%;
    padding: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.profile-picture img{
    /* width: max-content;    */
    border-radius: 50%;
}

h2{
    font-size: 18px;
    margin-top: -35px;
    padding-bottom: 10px;
}

h2 span{
    color: var(--Dark-grayish-blue);
    font-weight: 400;
    padding-left: 3px;
}

.city{
    color: var(--Dark-grayish-blue);
    font-size: 16px;
}

hr{
    width: inherit;
    height: 1px;
    background-color:hsla(227, 10%, 46%, 0.288);
    border: none;
    margin-block: 30px;
}

.social-number{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 0px 0px 30px
}

.followers, .likes, .photos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.number{
    color: var(--Very-dark-desaturated-blue);
    font-weight: 900;
    font-size: 18px;
}

.feature{
    letter-spacing: 3px;
    font-size: 12px;
    color: var(--Dark-grayish-blue);
}

/* Desktop screen style : 1024 and 1440 */

@media (min-width: 1440px) {
    main{
        background-size: 1000px, 1271px;
        background-position: -35px -452px, 983px 383px  ;
    }
    
    .main-card{
        max-width: 400px;
        max-height: max-content;
        margin-inline: auto;
        box-shadow: none;
        transform: scale(1);
        transition: box-shadow,transform 0.7s,0.4s ease-in-out;
    }
    
    .main-card:hover{
        transform: scale(1.1);
        box-shadow: rgb(3 5 10 / 44%) 0px 0px 100px -30px;
    }

    .profile-bg{
        /* background-color: var(--Dark-cyan); */
        /* background-image: url(./images/bg-pattern-card.svg); */
        max-width: 100%;
        height: 170px;
    }
}